@page "/restaurant"
@using RestaurantReservation.Shared
@inject HttpClient Http

<h1>Resaurants Search</h1>


<a href="/SearchByCity" class="Button">Search By City</a>
<a href="/SearchByState" class="Button">Search By State</a>
<a href="/SearchByCuisine" class="Button">Search By Cuisine</a>
<a href="/CreateRest" class="Button">Create Restaurant</a>



