@page "/SearchByState"

@inject HttpClient Http

<h1>Restaurant Search by State</h1>


<input @bind-value="state" />
<button @onclick="@GetRestaurants">Search</button>

<table class="table">
    <thead>
        <tr>
            <th>Resturant Name</th>
            <th>State</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.State</td>

            </tr>
        }
    </tbody>
</table>