@page "/reservation"
@inject HttpClient Http

<h1>Reservations</h1>


<a href="/ByRestaurant" class="Button">Search By Restaurant</a>
<a href="/ByMonth" class="Button">Search By Month</a>
<a href="/ByName" class="Button">Search By Name</a>
<a href="/CreateReservation" class="Button">Create Reservation</a>




