@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <ul class="nav-item"><a href="/Register" target="_blank" class="ml-md-auto">Register</a></ul>
            <ul class="nav-item"><a href="/Login" target="_blank" class="ml-md-auto">Login</a></ul>
        </div>
        

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
