@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <ul class="nav-item">

                <li style="list-style-type: none;">
                    <a  href="Login" >
                        Login
                    </a>
                    <a  href="Register" >
                        Register
                    </a>
                </li>
                
            </ul>
           
        </div>
        

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
